@using MongoDB.Bson
@using Mongo2.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>INDEX</h2>
        <h3>forma 1</h3>
        @*@{
            List<usuario> all = (List<usuario>)TempData["listado"];
            foreach (var a in all)
            {
                <p>@a._id</p>
                <p>@a._nombre</p>
                <p>@a._apellido1</p>
                <p>@a._apellido2</p>
            }
        }*@

        <h3>forma 2</h3>
        @{
            List<usuario> all2 = (List<usuario>)TempData["listado2"];
            foreach (var a in all2)
            {
                <p>@a._id</p>
                <p>@a._nombre</p>
                <p>@a._apellido1</p>
                <p>@a._apellido2</p>
                <img src='@Url.Action("downloadPhoto", "Home")' height="300" width="300" />
            }
        }
    </div>
</body>
</html>
